<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>SweetBeat - Login</title>
    <%= stylesheet_link_tag 'login' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:700" rel="stylesheet">
  </head>

  <body>
    <div class="login-box">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <a href="/"><%= image_tag  "spotify.png", :class => "form_logo" %></a>
        <h1 id="login_h1">Log in</h1>

        <div class="textbox">
          <i class="fas fa-user" aria-hidden="true"></i>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
        </div>

        <div class="textbox">
          <i class="fas fa-lock" aria-hidden="true"></i>
          <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "LOG IN", :class => "form_btn", :style => 'background-color: #107538; border: 2px solid #107538;' %>
        </div>

      <% end %>

      <div class="no-account">
        <h4>Don't have an account?</h4>
        <%= button_to "SIGN UP FOR SWEETBEAT", new_user_registration_path, method: :get, :class => "form_btn", :style => 'color:black;' %>
      </div>

    </div>
  </body>
</html>