<% if current_user.admin? %>
  <%= link_to "Create new performer", new_performer_path %>
<% end %>

<table>
  <tbody>
    <% @performers.each do |performer| %>
      <tr>
        <td>Name: <%= performer.name %>
        <% if current_user.admin? %>
          <%= link_to "Delete performer", performer_path(performer), method: :delete %><br>
        <% end %>
        </td>

        <td>
        <% performer.songs.each do |song| %>
          Song Title: <%= link_to song.title, song_path(song) %>
          <%= link_to "Remove song", "performers/destroy_song?performer_id=#{performer.id}&song_id=#{song.id}" %>
        <% end %>
        </td>

        <td>
        <% performer.albums.each do |album| %>
          Title album: <%= link_to album.title, album_path(album) %>
          <%= link_to "Remove album", "performers/destroy_album?performer_id=#{performer.id}&album_id=#{album.id}" %>
        <% end %>
        </td>


        <% if current_user.admin? %>
          <td>
            <%= form_tag ("performers/add_song?performer_id=#{performer.id}") do %>
              <%
                @valid_songs = Array.new()

                Song.all.each do |song|
                  if song.performer_id != performer.id and song.performer_id == nil
                    @valid_songs.append(song)
                  end
                end
              %>

              <% if !@valid_songs.empty? %>
                <%= select_tag "song_id", options_from_collection_for_select(@valid_songs, :id, :title) %>
                <%= submit_tag "Add song to performer" %>
              <% end %>
            <% end %>
          </td>

          <td>
            <%= form_tag ("performers/add_album?performer_id=#{performer.id}") do %>
              <%
                @valid_albums = Array.new()

                Album.all.each do |album|
                  if album.performer_id != performer.id and album.performer_id == nil
                    @valid_albums.append(album)
                  end
                end
              %>

              <% if !@valid_albums.empty? %>
                <%= select_tag "album_id", options_from_collection_for_select(@valid_albums, :id, :title) %>
                <%= submit_tag "Add album to performer" %>
              <% end %>
            <% end %>
          </td>
        <% end %>
      <% end %>
    </tr>
  </tbody>
</table>


<%= link_to "Back", root_path %>
