<!DOCTYPE html>
<html>
  <head>
    <title>TheProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/songs">pas</a></li>

      <% if user_signed_in? %>
        <li class = "profile"><%= link_to current_user.email, edit_user_registration_path %></li>
        <li class = "profile"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li class = "profile"><%= link_to 'Sign Up', new_user_registration_path %></li>
        <li class = "profile"><%= link_to 'Sign In', new_user_session_path %></li>
      <% end %>
    </ul>

    <%= form_tag(songs_path, method: :get, class: 'navbar_search') do %>
      <%= text_field_tag(:search, params[:search], placeholder: 'Search') %>
      <%= submit_tag("Search") %>
    <% end %>
  </body>
</html>
