<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= link_to "New playlist", new_playlist_path %>

    <% @playlists.each do |playlist| %>
      <% @p = playlist %>
      <p>Name: <%= link_to playlist.name, playlist_path(playlist) %>
      <%= link_to "Delete playlist",playlist_path(playlist), method: :delete %><br>
      <% %>
      <% playlist.songs.each do |song| %>
        <%= audio_tag song.mp3_song, controls: true, id: "audio_tag_id" %>
      <% end %>

      <% playlist.songs.each do |song| %>
      <br>
        Song Title: <%= link_to song.title, song_path(song) %>
        <%= link_to "Remove song", "playlists/subscriptions/delete?playlist_id=#{playlist.id}&song_id=#{song.id}" %>
        <br>
      <% end %>

      <%= form_tag("/playlists/subscriptions/add?playlist_id=#{playlist.id}") do %>
        <% playlist_songs = Array.new()
        @songs.each do |song|
          if !song.playlists.ids.include? playlist.id
            playlist_songs.append(song)
          end
        end %>

        <% if !playlist_songs.empty? %>
          <%= select_tag "song_id", options_from_collection_for_select(playlist_songs, :id, :title) %>
          <%= submit_tag "Add song to playlist" %>
        <% end %>
      <% end %>
      </p>
    <% end %>

    <%= link_to "Back", root_path %>

  </body>
</html>
