<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= link_to "New playlist", new_playlist_path %>

    <br><br>

    <% current_user.playlists.each do |playlist| %>
      Name: <%= playlist.name %>
      <br>
      Songs in playlist: <br>
      <% playlist.songs.first(10).each do |song| %>
        <br>
        -><%= song.title %>
      <% end %>

      <br><br>

      <%= link_to "Show full playlist", playlist_path(playlist) %>

      <%= link_to "Delete playlist", playlist_path(playlist), method: :delete %>
      
      <br><br>
    <% end %>

    <%= link_to "Back", root_path %>

  </body>
</html>
