<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

  </head>
  <body>

    Name: <%= @playlist.name %><br>

    <% if !@playlist_songs.empty? %>
      <%= button_tag "Play the playlist", class: "playBtn", value: @playlist_songs.first.mp3_song %>
    <% end %>

    <%= link_to "Delete playlist",playlist_path(@playlist), method: :delete %>
    <br>
    <% if !@playlist_songs.empty? %>
      <%= audio_tag @playlist_songs[0].mp3_song, controls: true, controlsList: "nodownload", id: "audio_tag_id" %>
      <br><br>
    <% end %>

    <table>
      <thead>

      </thead>
      <tbody>
          <% @playlist_songs.each do |song| %>
            <tr>
              <th>Song Title: </th>
              <td><%= link_to song.title, song_path(song) %></td>

              <td><%= button_tag "Play the song", class: "playBtn", value: song.mp3_song %></td>

              <td><%= link_to "Remove song", "subscriptions/delete?playlist_id=#{@playlist.id}&song_id=#{song.id}" %></td>
            </tr>
          <% end %>
      </tbody>
    </table>
    <br>

    <%= form_tag("subscriptions/add?playlist_id=#{@playlist.id}") do %>
      <% playlist_songs = Array.new()
      Song.all.each do |song|
        if !song.playlists.ids.include? @playlist.id
          playlist_songs.append(song)
        end
      end %>

      <% if !playlist_songs.empty? %>
        <%= select_tag "song_id", options_from_collection_for_select(playlist_songs, :id, :title) %>
        <%= submit_tag "Add song to playlist" %>
      <% end %>
    <% end %>

    <%= link_to "Back", playlists_path %>

    <script type="text/javascript">
      $(document).ready( function(){
        var sources = <%= raw @songs_json %>;
        var lastSong = <%= @songsCount %>;

        var myAudio = $('#audio_tag_id')[0];
        var count = 0;

        myAudio.onended = function(){
          count += 1;

          if(count >= lastSong){
            count = 0;
          }

          myAudio.setAttribute('src', sources[count]);
          myAudio.load();

          if (count != 0) {
            myAudio.play();
          }
        };

        $(".playBtn").click(function(e) {
          var songSource = $(e.currentTarget)[0].value;
          var myAudio = $('#audio_tag_id')[0];
          myAudio.setAttribute('src', songSource);
          myAudio.load();
          myAudio.play();
        })

      });

    </script>
  </body>
</html>
