<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

  </head>
  <body>
    <div class="header_cont">
      <h3>Playlist</h3>
      <h1><%= @playlist.name %></h1>

      <% if @playlist.songs.empty? %>
        <h3 style="margin-top: 1em;">You don't have any songs in this playlist.</h3>
      <% else %>

      <%= button_tag "Play", class: "playBtn playAll", value: current_user.songs.first.mp3_song %>
    </div>

    <%= link_to "Delete playlist",playlist_path(@playlist), method: :delete %>
    <br>

    <table class = "tables">
      <thead>
        <tr>
          <th>Player</th>
          <th>Title</th>
          <th>Performer</th>
          <th>Album</th>
          <th colspan="3">Options</th>
        </tr>
      </thead>

      <tbody>
        <%= audio_tag @playlist.songs.first.mp3_song, controls: true, controlsList: "nodownload", id: "audio_tag_songs_id" %>

        <% @playlist.songs.each do |song| %>
          <tr>
            <td><%= button_tag class: "playBtn", value: song.mp3_song do %>
                <i class="far fa-play-circle fa-2x"></i>
              <% end %>
            </td>

            <td><%= song.title %></td>

            <td>
            <% if song.performer_id != nil %>
              <% perf_id = song.performer_id %>
              <%= Performer.find(perf_id).name %>
            <% else %>
              <p>None</p>
            <% end %>
            </td>

            <td>
            <% if song.album_id != nil %>
              <% album_id = song.album_id %>
              <%= Album.find(album_id).title %>
            <% else %>
              <p>None</p>
            <% end %>
            </td>

            <td><%= link_to 'Show', song %></td>
            <% if current_user.admin? %>
              <td><%= link_to 'Edit', edit_song_path(song) %></td>
              <td><%= link_to 'Destroy', {:controller => "subscriptions", :action => "destroy", :playlist_id => @playlist.id, :song_id => song.id}, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>

    <script type="text/javascript">
      $(document).ready( function(){
        var sources = <%= raw @songs_json %>;
        var lastSong = <%= @songsCount %>;

        var myAudio = $('#audio_tag_songs_id')[0];
        var count = 0;

        myAudio.onended = function(){
          count += 1;

          if(count >= lastSong){
            count = 0;
          }

          myAudio.setAttribute('src', sources[count]);
          myAudio.load();

          if (count != 0) {
            myAudio.play();
          }
        };

        $(".playBtn").click(function(e) {
          var songSource = $(e.currentTarget)[0].value;
          var myAudio = $('#audio_tag_songs_id')[0];
          myAudio.setAttribute('src', songSource);
          myAudio.load();
          myAudio.play();
        })

      });
    </script>
  </body>
</html>
