<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

  </head>
  <body>

    Name: <%= @playlist.name %>
    <%= link_to "Delete playlist",playlist_path(@playlist), method: :delete %>
    <br>
    <%= audio_tag @playlist_songs[0].mp3_song, controls: true, id: "audio_tag_id" %>
    <br>

    <% @playlist_songs.each do |song| %>
      Song Title: <%= link_to song.title, song_path(song) %>
      <%= link_to "Play", playlist_path(@playlist), :id => "song_play" %>

      <%= link_to "Remove song", "playlists/subscriptions/delete?playlist_id=#{@playlist.id}&song_id=#{song.id}" %>
      <br>
    <% end %>

    <%= form_tag("/playlists/subscriptions/add?playlist_id=#{@playlist.id}") do %>
      <% playlist_songs = Array.new()
      Song.all.each do |song|
        if !song.playlists.ids.include? @playlist.id
          playlist_songs.append(song)
        end
      end %>

      <% if !playlist_songs.empty? %>
        <%= select_tag "song_id", options_from_collection_for_select(playlist_songs, :id, :title) %>
        <%= submit_tag "Add song to playlist" %>
      <% end %>
    <% end %>

    <%= link_to "Back", playlists_path %>

    <script type="text/javascript">
      $(document).ready( function(){
        var sources = <%= raw @songs_json %>;
        var lastSong = <%= @songsCount %>;

        var myAudio = $('#audio_tag_id')[0];
        var count = 0;
        var songIndex = 0;

        myAudio.onended = function(){
          count += 1;

          if(count >= lastSong){
            count = 0;
          }

          // console.log(sources[count]);
          myAudio.setAttribute('src', sources[count]);
          myAudio.load();

          if (count != 0) {
            myAudio.play();
          }
        };

        $('#song_play').click(function () {
          if(songIndex != count){
            myAudio.setAttribute('src', sources[count]);
            myAudio.load();
            myAudio.play();
          }else{
            alert("Dont");
          }
        });
      });

    </script>
  </body>
</html>
