<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

  </head>
  <body>
    <h1>Songs</h1>

    <table id = "songs_table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Player</th>
          <th>Performer</th>
          <th>Album</th>
          <th colspan="3">Options</th>
        </tr>
      </thead>

      <tbody>

        <%= audio_tag current_user.songs.first.mp3_song, controls: true, controlsList: "nodownload", id: "audio_tag_songs_id" %>

        <% current_user.songs.each do |song| %>
          <tr>
            <td><%= button_tag "Play the song", class: "playBtn", value: song.mp3_song %></td>

            <td><%= song.title %></td>

            <td>
            <% if song.performer_id != nil %>
              <% perf_id = song.performer_id %>
              <%= Performer.find(perf_id).name %>
            <% else %>
              <p>None</p>
            <% end %>
            </td>

            <td>
            <% if song.album_id != nil %>
              <% album_id = song.album_id %>
              <%= Album.find(album_id).title %>
            <% else %>
              <p>None</p>
            <% end %>
            </td>

            <td><%= link_to 'Show', song %></td>
            <% if current_user.admin? %>
              <td><%= link_to 'Edit', edit_song_path(song) %></td>
              <td><%= link_to 'Destroy', song, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          </tr>
        <% end %>

      </tbody>
    </table>

    <script type="text/javascript">
      $(document).ready( function(){
        var sources = <%= raw @songs_json %>;
        var lastSong = <%= @songsCount %>;

        var myAudio = $('#audio_tag_songs_id')[0];
        var count = 0;

        myAudio.onended = function(){
          count += 1;

          if(count >= lastSong){
            count = 0;
          }

          myAudio.setAttribute('src', sources[count]);
          myAudio.load();

          if (count != 0) {
            myAudio.play();
          }
        };

        $(".playBtn").click(function(e) {
          var songSource = $(e.currentTarget)[0].value;
          var myAudio = $('#audio_tag_songs_id')[0];
          myAudio.setAttribute('src', songSource);
          myAudio.load();
          myAudio.play();
        })

      });
    </script>
  </body>
</html>
