<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

  </head>
  <body>
    <div class="header_cont">
      <h1>Songs</h1>

      <%= button_tag "Play", class: "playBtn playAll", value: current_user.songs.first.mp3_song %>

      <% if current_user.songs.empty? %>
        <h3 style="margin-top: 1em;">You haven't liked any songs</h3>
      <% else %>
    </div>

    <table class="tables">
      <thead>
        <tr>
          <th>Player</th>
          <th>Title</th>
          <th>Performer</th>
          <th>Album</th>
          <th colspan="3">Options</th>
        </tr>
      </thead>

      <tbody>

        <%= audio_tag current_user.songs.first.mp3_song, controls: true, controlsList: "nodownload", id: "audio_tag_songs_id" %>

        <% current_user.songs.each do |song| %>
          <tr>
            <td><%= button_tag class: "playBtn", value: song.mp3_song do %>
                <i class="far fa-play-circle fa-2x"></i>
              <% end %>
            </td>

            <td><%= song.title %></td>

            <td>
            <% if song.performer_id != nil %>
              <% perf_id = song.performer_id %>
              <%= Performer.find(perf_id).name %>
            <% else %>
              <p>None</p>
            <% end %>
            </td>

            <td>
            <% if song.album_id != nil %>
              <% album_id = song.album_id %>
              <%= Album.find(album_id).title %>
            <% else %>
              <p>None</p>
            <% end %>
            </td>

            <td><%= link_to 'Show', song %></td>
            <% if current_user.admin? %>
              <td>
                <div class="dropdown">
                  <button class="dropbtn">Add to playlist</button>
                  <div class="dropdown-content">
                    <% Playlist.all.each do |playlist| %>
                    <% end %>

                  </div>
                </div>
              </td>
              <td><%= link_to 'Destroy', song, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>

    <div class="header_cont" style="margin-top: 8em;">
      <h2>Recommended Songs</h2>

      <% if current_user.recommended_songs.empty? %>
        <h4 style="margin-top: 1em;">We can't recommend anything.</h4>
      <% else %>
    </div>

      <table class = "tables  ">
        <thead>
          <tr>
            <th>Add</th>
            <th>Title</th>
            <th>Player</th>
            <th>Performer</th>
            <th>Album</th>
            <th colspan="3">Options</th>
          </tr>
        </thead>

        <tbody>
          <% current_user.recommended_songs.first(10).each do |song, weight| %>
          <tr>
            <td>
              <%= button_to :action => :addToLiked, :controller => "songs", params: {id: song.id}, method: :post, :class => "heart-btn" do %>
                <i class="far fa-heart"></i>
              <% end %>
            </td>

            <td><%= song.title %></td>

            <td>
              <%= audio_tag song.mp3_song, controls: true, controlsList: "nodownload" %>
            </td>

            <td>
            <% if song.performer_id != nil %>
              <% perf_id = song.performer_id %>
              <%= Performer.find(perf_id).name %>
            <% else %>
              None
            <% end %>
            </td>

            <td>
            <% if song.album_id != nil %>
              <% album_id = song.album_id %>
              <%= Album.find(album_id).title %>
            <% else %>
              None
            <% end %>
            </td>

            <td><%= link_to 'Show', song %></td>
            <% if current_user.admin? %>
              <td><%= link_to 'Edit', edit_song_path(song) %></td>
              <td><%= link_to 'Destroy', song, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

    <script type="text/javascript">
      $(document).ready( function(){
        var sources = <%= raw @songs_json %>;
        var lastSong = <%= @songsCount %>;

        var myAudio = $('#audio_tag_songs_id')[0];
        var count = 0;

        myAudio.onended = function(){
          count += 1;

          if(count >= lastSong){
            count = 0;
          }

          myAudio.setAttribute('src', sources[count]);
          myAudio.load();

          if (count != 0) {
            myAudio.play();
          }
        };

        $(".playBtn").click(function(e) {
          var songSource = $(e.currentTarget)[0].value;
          var myAudio = $('#audio_tag_songs_id')[0];
          myAudio.setAttribute('src', songSource);
          myAudio.load();
          myAudio.play();
        })
      });
    </script>
  </body>
</html>
