<ul>
  <li><a href="#home">pas</a></li>
  <li><a href="#pas">da</a></li>

  <% if user_signed_in? %>
    <li class = "profile"><%= link_to current_user.email, edit_user_registration_path %></li>
    <li class = "profile"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
  <% else %>
    <li class = "profile"><%= link_to 'Sign Up', new_user_registration_path %></li>
    <li class = "profile"><%= link_to 'Sign In', new_user_session_path %></li>
  <% end %>

</ul>

<h1>Songs</h1>

<table>
  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= song.title %></td>
        <td><%= link_to 'Show', song %></td>
        <td><%= link_to 'Edit', edit_song_path(song) %></td>
        <td><%= link_to 'Destroy', song, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user && current_user.admin %>
  <%= link_to 'New Song', new_song_path %>
<% end %>
